@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


#wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('../img/5883.jpg');
    background-size: cover; /* pour que l'image couvre entièrement l'élément */
    background-position: center;
}

#mainpage{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}

h1 {
    color: rgb(25, 187, 223);
    /* font-family: 'inria Serif'; */
    padding: 10px;
    /* text-shadow: 0 1px 1px rgba(251, 164, 2, 0.8); */
}


.style{
    color: black;
    font-size: 20px;
    /* font-family: 'inria Serif'; */
    padding: 10px;
    /* text-shadow: 0 0 1px rgba(251, 164, 2, 0.5); */
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
}

#nav-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}


#nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.navbar:hover {
    color: rgb(25, 187, 223);
}

.lien-nav{
    display: flex;
    flex-direction: row;
}

.lien-gestion1{
   font-size: 12px;
   text-decoration: none;
   color:red;
}

.lien-gestion2{
    font-size: 12px; 
    text-decoration: none;
    color: rgb(179, 33, 162);
 }

 .lien-gestion3{
    font-size: 12px;
    text-decoration: none;
    color: blueviolet;
 }

 .lien1{
    display: flex;
    justify-content: center;
 }

 .lien{
    margin: 5px;
 }

 .l1{
    display: flex;
    justify-content: center;
 }


.lien-nav:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
}

main{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: nowrap;
    /* background-color: rgb(245, 245, 245); */
    margin: 0 320px;
    height: 100%;
    /* border: solid rgb(229, 186, 105); */
    border-radius: 3px;
}



footer{
    position: fixed;
    bottom: 0; /* Aligne le pied de page en bas de l'écran */
    left: 0; /* Aligne le pied de page sur le côté gauche de l'écran */
    width: 100%; /* Assure que le pied de page s'étende sur toute la largeur de l'écran */
    height: 45px;
    background-color: rgba(0, 0, 0, .5);
    display: flex; /* Utiliser flexbox pour placer les éléments en ligne */
    justify-content: center; /* Aligner les éléments horizontalement au centre */
    align-items: center; 
}

.reg{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 10px;
}

.reg:hover{
    color: rgb(25, 187, 223);
}

.footer:hover{
    color: rgb(25, 187, 223);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
}

.home-connect{
    display: flex;
    justify-content: center;
    color: rgb(29, 29, 29);
    padding: 5px;
}

.date{
    display: flex;
    justify-content: center;
    font-size: 11px;
}

.div-form{
    display: block;
    justify-content: center;
    align-items: center;
}

.list{
    display: flex;
    justify-content: center;
}


.form{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 200px;
    width: 100%;
   
}

.form-inscription{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 350px;
    width: 100%;
   
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}


.btn{
    background-color: rgba(25, 187, 223);
    color: white;
    border-radius: 15px;
    border: solid black;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 1px black;
    transition: all .2s;
    position: relative;
    animation: moveInBottom .5s ease-out .35s;
    animation-fill-mode: backwards;
    width: 18%;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

}

.btn::after{
    background-color:  rgb(25, 187, 223);
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

label{
    color:  rgb(25, 187, 223);
    font-size: 15px;
}



.input{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 3px;
    width: 80%;
    outline-color: rgb(25, 187, 223);
    /* border: none; */
    cursor: pointer;
}

.input-titre{
    border-radius: 5px;
    padding: 5px;
    margin: 15px 5px;
    width: 60%;
    /* border: none; */
    outline-color: rgb(25, 187, 223);
    cursor: pointer;
}

.textarea{
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    resize: none;
    width: 80%;
    /* border: none; */
    outline-color: rgb(25, 187, 223);
    cursor: pointer;
}

.bienvenue{
    display: flex;
    justify-content: center;
    color: rgb(25, 187, 223);
}

.titre-categorie{
    text-decoration: underline;
}

.lien-topic{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lien-list{
    color:black;
    text-decoration: none;
    padding: 5px;
    text-shadow: 0 1px 0 rgb(25, 187, 223, .7);
}


.lien-list:hover{
    color: rgb(25, 187, 223);
}

.topic{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.auteur-topic{
    font-size: 10px;
    display: flex;
    align-items: center;
}

.auteur-post{
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.text-post{
    display: flex;
    justify-content: center;
    padding: 15px;
    border: solid rgba(0, 0, 0, .5);
    text-align: center;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin: 3px;
}

.auteur-post{
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-post{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.msg{
    margin: 40px;
    color: black;
}



@media screen and (max-width: 1130px){

    .bienvenue{
        font-size: 25px;
    }

    h1{
        font-size: 25px;
    }

    main{
        margin: 0 220px;
    }

    footer{
        margin: 0 220px;
    }

    .header{
        margin: 0 220px;
    }
}

@media screen and (max-width: 950px){
    main{
        margin: 0 120px;
    }

    footer{
        margin: 0 120px;
    }
    .navbar{
        font-size: 10px;
    }


    .header{
        margin: 0 120px;
    }
}

@media screen and (max-width: 815px){

    main{
        margin: 0;
    }
    .navbar{
        font-size: 8px;
    }

    footer{
        margin: 0;
    }

    .header{
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    .btn{
        font-size: 10px;
    }
    .navbar{
        font-size: 10px;
    }
}

@media screen and (max-width: 380px) {
    .bienvenue{
        font-size: 20px;
    }

    .navbar{
        font-size: 10px;
    }

    .btn{
        font-size: 8px;
    }
}
      
        
      